/*CSS Document*/


html {
    background: #779FBF;
}

body {
    background: #FFFFFF;
    color: #000000;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
    padding: 2em 2em 4em;
}

h1 {
    color: #779FBF;
    font-weight: 150;
    line-height: 1em;
    text-align: center;
    font-size: 3em;
    letter-spacing: .1em;
    
}

h2{
    color: #808080;
    font-weight: 150;
    line-height: 1em;
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
    letter-spacing: .1em;
}

h3 {
    color: #8EBEE6;
    font-weight: 150;
    text-align: left;
    font-size: 1.5em;
    letter-spacing: .1em;
    margin-left: 1em; 
    margin-top: 1.5em;
    font-size: 2em;
}

h4{
    color: #000000;
    font-weight: 150;
    line-height: 1.3;
    margin-left: 1.5em;
    letter-spacing: .1em;
    font-size: 1em;
    margin-bottom: .3em;
    
}

h5{
    color: #589DBF;
    font-weight: 150;
    font-style: italic;
    line-height: 1.5;
    margin-left: 2.9em;
    margin-top: .3em;
    margin-bottom: 3em;
    letter-spacing: .03em;
}

p{
    color: #C0C0C0;
    font-weight: 150;
    line-height: 1.6;
    margin-left: 2.5em;
    margin-top: .3em;
    margin-bottom: .5em;
    letter-spacing: .05em;
}
