/*CSS Document*/




/* HOME PAGE */


html {
    font-family: 'Barlow';
}

.ginoslogo img {
    width: auto;
    max-width: 17em;
    max-height: 9em;
    padding: 4em;
    float: left;
   
}

h1{ 
    color: rgb(157, 44, 43);
    font-size: 3em;
    text-align: center;
    margin-top: 0;
}

h2 {
    text-transform: uppercase;
    color: rgb(157, 44, 43);
    margin-top: 2em;
}

h3{
    line-height: 2em;
    margin-top: 1em;
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgb(157, 44, 43);
}

p {
    padding: 0em 4em 0em 4em;
    line-height: 2em;
    font-size: .9em;
}


.listitems {
    display: inline-block;
    text-align: center;
    font-size: 1.4em;
    margin-top: 1em;
}
.listitems ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-left: auto;
    margin-right: auto;
    
}


.listitems li{
    float: left;
    
}

li a {
    display: block;
    width: 100%;
    padding: 2em 0em 2em 0em;
    text-align: center;
    padding: 2em 1em;
    text-decoration: none;
    color: rgb(157, 44, 43);
}


.pizzaimage img
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    width: 70%;
    padding: 2em;
    display: block;
    max-width: 40em;
    margin-top: 8em;
}



.tagline {
    display: block;
    text-align: center;
    font-size: 2em;
    color: rgb(157, 44, 43);
    text-transform: uppercase;
    margin: 3em auto 4em auto;
    
}


.order {
    display: block;
    background-color: rgb(157, 44, 43);
    color: rgb(255, 255, 255);
    padding: 2em;   
}

.order h1 {
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-bottom: .3em;
}

.order h2 {
    text-align: center;
    margin-top: .2em;
    font-size: 1.3em;
    margin-bottom: 2em;
    color: rgb(255, 255, 255);
}


.order h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.order p {
    text-align: center;
    margin-top: .2em;
    font-size: 1em;
    text-transform: uppercase;
}

.footer {
    width: auto;
    display: block;
    text-align: center;
    margin-top: 9em;
}

.footer h2 {
    text-transform: uppercase;
    color: rgb(157, 44, 43);
    margin: 0;
    font-size: 1.3em;
    
}

.footer p{
    font-size: .7em;
    margin-bottom: 0;
}

.footer ul{
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer li {
    list-style-type: none;
    font-size: .6em;
    color: rgb(157, 44, 43);
}

.footer a{
    text-decoration: none;
}



/* MENU PAGE */



.menu {
    display: inline-block;
    padding: 5em;
    margin-bottom: 0;
    font-size: .8em;
}

.menu h2 {
    text-transform: uppercase;
    margin-top: 5em;
    text-align: center;
}


.menu ul {
    margin-left: 6em;
    list-style-type: none;
}


.menu h5 {
    color: rgb(157, 44, 43);
    font-size: 1em;
    margin-bottom: 0;
}

.menu h6 {
    font-size: 1 em;
    margin-top: .5em;
}

.pizzatoppings li {
    line-height: 2em;
}

.pizzatoppings h5 {
    text-transform: uppercase;
    margin-top: 2em;
}

.pizzadescription {
    font-style: italic;
    font-size: 1em;
}

.aboutpizza {
    text-align: center;
    display: inline-block;
    line-height: 1.2em;
}




/* ABOUT US PAGE */




.aboutus {
    display: inline-block;
    padding: 5em;
    margin-bottom: 0;
    font-size: .8em;

}


.aboutusimage img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
}


.locations {
    padding: 0em 6em 0em 6em;
}

.locations p{
    line-height: 1.4em;
}



/* FUNDRAISING PAGE */



.funds {
    display: inline-block;
    padding: 5em;
    font-size: .8em;
}



.pizzadoughimage img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
    max-height: 40em;  
}

.pizzadoughimage {
    margin-bottom: 3em;
}



.doughspecifics {
    padding: 0em 0em 0em 7em;
}


.doughspecifics ol {
    line-height: 2em;
    padding: 0em;
    margin-bottom: 0;
}

.doughspecifics li {
    line-height: 2em;
    margin-bottom: 2em;
    font-size: .8em;
}


.signature {
    padding: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 7em;
    font-size: 1.3em;
    color: rgb(157, 44, 43);
    
}

.funds h5 {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    font-size: .7em;
    font-style: italic;
    max-width: 70em;
    text-align: center;
}